# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: dd-alexa 

custom:
  bucket: dd-transcripts
  topic: transcript
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}

provider:
  name: aws
  runtime: nodejs6.10
  profile: personal
  iamRoleStatements:
      -  Effect: "Allow"
         Action:
           - "s3:*"
         Resource: "arn:aws:s3:::${self:custom.bucket}/*"
      - Effect: Allow
        Action:
          - SNS:Publish
        Resource: { "Fn::Join" : ["", ["arn:aws:sns:${self:custom.region}:", { "Ref" : "AWS::AccountId" }, ":${self:custom.topic}" ] ]  }
functions:
  sendMessage:
    name: "dd-alexa"
    handler: functions/handler.handleEvent
    environment:
      SLACK_API_KEY: ${env:SLACK_API_KEY}
      SLACK_USERNAME: DD-Alexa
      SNS_TOPIC: { "Fn::Join" : ["", ["arn:aws:sns:${self:custom.region}:", { "Ref" : "AWS::AccountId" }, ":${self:custom.topic}" ] ]  }
    events:
        - alexaSkill
  saveTranscript:
    name: "dd-transcript"
    handler: functions/saveTranscript.handleEvent
    environment:
      SLACK_API_KEY: ${env:SLACK_API_KEY}
      S3_BUCKET: ${self:custom.bucket}
    events:
       - sns: ${self:custom.topic}

resources:
  Resources:
    Transcripts:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.bucket}